<h1>About</h1>
<p></p>
<p>此內容管理系統以 <a href="https://github.com/mdecourse/cmsimde">https://github.com/mdecourse/cmsimde</a> 作為 submodule 運作, 可以選定對應的版本運作, cmsimde 可以持續改版, 不會影響之前設為 submodule, 使用舊版 cmsimde 模組的內容管理相關運作.</p>
<h4>利用 cmsimde 建立靜態網誌方法:</h4>
<p>1. 在 github 建立倉儲, git clone 到近端</p>
<p>2. 參考 <a href="https://github.com/mdecourse/newcms">https://github.com/mdecourse/newcms</a>, 加入除了 cmsimde 目錄外的所有內容</p>
<p>以 git submodule add <a href="https://github.com/mdecourse/cmsimde">https://github.com/mdecourse/cmsimde</a> cmsimde</p>
<p>建立 cmsimde 目錄, 並從 github 取下子模組內容.</p>
<p>3.在近端維護時, 更換目錄到倉儲中的 cmsimde, 以 python wsgi.py 啟動近端網際伺服器.</p>
<p>動態內容編輯完成後, 以 generate_pages 轉為靜態內容, 以 git add commit 及 push 將內容推到遠端.</p>
<p>4. 之後若要以 git clone 取下包含 submodule 的所有內容, 執行:</p>
<p>git clone --recurse-submodules <a href="https://github.com/mdecourse/newcms.git">https://github.com/mdecourse/newcms.git</a></p>
<h2>Develop</h2>
<p><a href="https://github.com/mdecourse/cmsimde">https://github.com/mdecourse/cmsimde</a> 的開發, 可以在一個目錄中放入 cmsimde, 然後將 up_dir 中的內容放到與 cmsimde 目錄同位階的地方, 使用 command 進入 cmsimde 目錄, 執行 python wsgi.py, 就可以啟動, 以瀏覽器 https://localhost:9443 就可以連接, 以 admin 作為管理者密碼, 就可以登入維護內容.</p>
<p>cmsimde 的開發採用 Leo Editor, 開啟 cmsimde 目錄中的 cmsimde.leo 就可以進行程式修改, 結束後, 若要保留網際內容, 只要將 cmsimde 外部的內容倒回 up_dir 目錄中即可後續對 cmsimde 遠端倉儲進行改版.</p>
<p>init.py 位於  up_dir 目錄, 可以設定 site_title 與 uwsgi 等變數.</p>
<h1>Homework</h1>
<p><img alt="" height="596" src="/images/kmol_env.png" width="525"/></p>
<h2>PCH8</h2>
<p><br/>Heat Sources   <span lang="zh-TW">熱源</span></p>
<h3>Overview</h3>
<div class="section" id="N10677">
<div class="sectionContain">
<p id="N1067E" lang="">This module will discuss sources of heat and its effects, along with various ways to cool the CPU and system.</p>
<p lang="">本模塊將討論熱源及其影響，以及冷卻CPU和系統的各種方法。</p>
<h4>Heat Sources</h4>
</div>
</div>
<div class="section" id="heat_sources">
<div class="sectionContain">
<p id="N1068B" lang="">Heat is generated through thermal radiation as a by-product of electromagnetic movement within the circuits of our computers. The heat is caused by the internal resistance that the electricity encounters as it flows throughout the computer, and this resistance creates enough heat that the computer often becomes very, very hot inside the case. Each component of the computer creates heat at a different rate, depending on the specific operations being performed. For example, the CPU generates the most heat, since it does the greatest number of computations and uses a large amount of electricity. Another common source of heat is the graphics processing unit (GPU), which does an enormous amount of processing when performing calculations required to support 3D graphics, such as those used in video gaming. Often, during gaming, the GPU will actually create more heat than the CPU.</p>
<p id="N1068E" lang="">Other sources of heat include the hard disk and the optical disc drive, as the spinning of the disks during the read/write cycle can generate heat from both friction and electricity. Another component of the computer that generates an enormous amount of heat is the PSU, as it transforms AC power into DC power. Because it is such a large heat source, the power supply usually has its own dedicated cooling fan.</p>
<p id="N10691" lang="">Another potential source of heat is the room in which the computer is located. If you are working in a room with a high room temperature, such as 80 degrees Fahrenheit (27 degrees Celsius), the computer has to remove additional internal heat from the machine due to the environmental conditions of the room.</p>
<p>通過熱輻射產生的熱量是我們計算機電路內電磁運動的副產品。熱量是由電流在整個計算機中流動時遇到的內部電阻引起的，並且該電阻產生的熱量足以使計算機在機殼內部變得非常非常熱。根據所執行的特定操作，計算機的每個組件以不同的速率產生熱量。例如，CPU產生的熱量最多，因為它執行的計算數量最多並且消耗大量電能。另一個常見的熱量來源是圖形處理單元（GPU），當執行支持3D圖形的計算時（例如視頻遊戲中使用的那些計算），它會進行大量處理。通常，在遊戲過程中，GPU實際上會比CPU產生更多的熱量。</p>
<p>其他熱源包括硬盤和光盤驅動器，因為在讀/寫週期中磁盤的旋轉會因摩擦和電而產生熱量。產生大量熱量的計算機的另一個組件是PSU，它可以將交流電轉換為直流電。由於電源如此之大，因此電源通常具有自己的專用冷卻風扇。</p>
<p>另一個潛在的熱源是計算機所在的房間。如果您在室溫較高的房間（例如華氏80度（27攝氏度））中工作，由於房間的環境條件，計算機必須從機器中清除其他內部熱量。</p>
<h4>Heat Effects 熱效應</h4>
</div>
</div>
<div class="section" id="heat_effects">
<div class="sectionContain">
<p id="N1069E" lang="">If the computer is unable to remove the heat created by the internal components or environmental heat, the BIOS of the computer may instruct intensive applications to slow down, thereby reducing the processing capability of the CPU and minimizing its heat output. Additionally, the BIOS may actually instruct various components to shut down in order to avoid overheating and possible damage to the components. This can cause the entire system to shut down without warning and can occur routinely unless a more efficient cooling system, such as a larger, more efficient fan, is outfitted into the computer. A system shutdown is rather commonplace in machines where overclocking has been performed, or in systems where a cooling fan has become damaged.</p>
<p id="N106A1" lang="">Often there is no indication to the end user that an overheating condition is occurring, but even this can have severe consequences. Hard disk drives, CPUs, and GPUs are all sensitive to temperature changes. Hard drives in particular can become irreparably damaged by temperature changes due to the expansion and contraction of device components. This can cause read/write errors, or even a complete failure of the disk drive.</p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">如果計算機無法消除內部組件產生的熱量或環境熱量，則計算機的BIOS可能會指示密集型應用程序放慢速度<br/>，從而降低CPU的處理能力並最小化其熱量輸出。此外，BIOS實際上可以指示各種組件關閉，以避免過熱和<br/>對組件的可能損壞。這可能會導致整個系統無預警地關閉，並且可能會常規發生，除非計算機中裝有更高效<br/>的冷卻系統（例如更大，更高效的風扇）。在執行超頻的機器中或在冷卻風扇已損壞的系統中，系統關閉非<br/>常普遍。

通常，最終用戶沒有跡象表明發生了過熱情況，但即使這樣也會造成嚴重後果。硬盤驅動器，CPU和GPU都<br/>對溫度變化敏感。由於設備組件的膨脹和收縮，特別是硬盤驅動器會因溫度變化而造成不可挽回的損害。<br/>這可能導致讀/寫錯誤，甚至導致磁盤驅動器完全故障。</span></pre>
<h4>Heat Reduction  減少熱量  </h4>
<span style="font-size: 11px;">There are many ways to reduce the amount of heat generated in a computer, but the most notable way is the use of a heat sink, like the one pictured below in green. A heat sink works to draw heat away from the sensitive components, such as the CPU, GPU, northbridge, and southbridge, through conduction. It then uses the fins to dissipate heat across a wider surface area. A fan usually moves air over the surface to remove the heat from the heat sink and push it out the computer’s exhaust vents on the back of the system. Heat sinks are created out of aluminum alloys or copper, which are soft metals with high heat conductivity.</span><span class="image" style="font-size: 11px;"><img alt="Photograph of a heat sink. It is a square metal device with a round device with fins sitting on top. The round device is labeled “CPU Cooler.”" class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH08/webcontent/PCH08/image1.png" title="Photograph of a heat sink. It is a square metal device with a round device with fins sitting on top. The round device is labeled “CPU Cooler.”"/></span></div>
</div>
<div class="section" id="N106A6">
<div class="sectionContain">
<p id="N106B5" lang="">CPU heat sink. Photo used under CC-BY-NC-ND license from<span> </span><a href="https://flic.kr/p/9zeDa" id="_i_1" lang="" target="_blank">Paul Ely</a>.</p>
Modern PCs can create a great deal of heat and require the use of both a heat sink and a cooling fan to aid in airflow and reduce the effect of heat on the nearby components. Case design is important to create good air flow through the case. Just like opening the windows and doors of a house can create a straight-through wind tunnel effect, cases are built to maximize airflow. Also, cables inside the case should be bundled and tucked out of the way to increase airflow and maximize cooling.</div>
<div class="sectionContain"></div>
<div class="sectionContain">有許多方法可以減少計算機中產生的熱量，但是最值得注意的方法是使用散熱器，如下面的綠色圖片所示。散熱器通過傳導將熱量從敏感組件（例如CPU，GPU，北橋和南橋）吸走。然後，它使用散熱片在更寬的表面積上散熱。風扇通常在表面上移動空氣，以從散熱器中散熱，然後將其從系統背面的計算機排氣口推出。散熱器由鋁合金或銅製成，而鋁合金或銅是具有高導熱性的軟金屬。</div>
<div class="sectionContain"></div>
<div class="sectionContain">現代PC會產生大量熱量，並且需要同時使用散熱器和冷卻風扇來幫助氣流並減少熱量對附近組件的影響。機箱設計對於在機箱中產生良好的氣流很重要。就像打開房屋的門窗可以產生直通的風洞效果一樣，箱體也可以最大化氣流。另外，應捆紮和捆紮外殼內的電纜，以增加氣流並最大程度地冷卻。</div>
</div>
<h3>BIOS setting</h3>
<p>BIOS設定</p>
<div class="sectionContain">
<p id="N10690" lang="">Most modern motherboards and BIOS support temperature monitoring and control for the motherboard and its components. The name for this varies depending on manufacturer, but often it is called PC health or temperature monitoring. For motherboards that support overclocking, you can configure the settings in the BIOS to increase or decrease your processing capability, and thereby prevent additional heat from being generated. The CPU has a sensor that monitors its temperature, and the BIOS can increase or decrease the fan speed to control the temperature of the CPU. Remember, though, by reducing the power consumption (and therefore heat), you are also simultaneously reducing the performance of the CPU.</p>
<p lang="">大多數現代主板和BIOS支持對主板及其組件進行溫度監控。其名稱因製造商而異，但通常稱為PC運行狀況或溫度監控。對於支持超頻的主板，您可以在BIOS中配置設置以增加或減少處理能力，從而防止產生更多的熱量。 CPU具有監視其溫度的傳感器，BIOS可以增加或減小風扇速度以控制CPU的溫度。但是請記住，通過減少功耗（並因此減少熱量），您同時也在降低CPU的性能。</p>
<div class="imagewrap"><span class="image"><img alt="Photograph of a BIOS screen that provides a graph of system temperature and actual temperature measurements within the CPU and memory, along with ambient temperature. It also charts fan speeds (via tachometer readings) in the CPU, memory, chassis, chipset, and PCI." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH08/webcontent/PCH08/image2.png" title="Photograph of a BIOS screen that provides a graph of system temperature and actual temperature measurements within the CPU and memory, along with ambient temperature. It also charts fan speeds (via tachometer readings) in the CPU, memory, chassis, chipset, and PCI."/></span>
<p id="N10698" lang="">BIOS system temperature display. Photo used under CC-BY-NC license from <a href="https://flic.kr/p/9oTRW6" id="_i_1" lang="" target="_blank">Steve_L</a>.</p>
</div>
</div>
<h3>Cooling Methods</h3>
<p>冷卻方式</p>
<p id="N10698" lang="">Over the decades, various cooling methods have been introduced, with each one having its own advantages and disadvantages.</p>
<p lang=""></p>
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">幾十年來，已經引入了各種冷卻方法，每種方法都有其自身的優點和缺點。</span></pre>
<h4>Active Air Cooling 主動風冷</h4>
<div class="section" id="N1069B">
<div class="sectionContain">
<p id="N106A2" lang="">Active air cooling components consist of a fan and a cooling plate (heat sink) made of aluminum or copper. A fan blows fresh air on a heat sink placed over the components that need to be cooled. The heat sink’s fins increase the surface of the metal plate and increase the heat exchange capabilities of the component. The fan blows the air between those fins, making the heat exchange quicker and more efficient, as it rapidly removes the heated air that is produced between the fins. There is only one drawback to active air cooling: the component that generates heat can never be cooled below the ambient room temperature. This is because active cooling uses forced air from the room, and the room air cannot cool a component to a lower temperature than the ambient temperature. These components are very reliable, and the cost of this system is quite affordable.</p>
<p lang="">主動空氣冷卻組件由風扇和鋁或銅製成的冷卻板（散熱器）組成。風扇將新鮮空氣吹到放置在需要冷卻的組件上方的散熱器上。散熱片增加了金屬板的表面，並提高了組件的熱交換能力。風扇在這些散熱片之間吹動空氣，從而使熱交換更快，更有效，因為它可以快速去除散熱片之間產生的熱空氣。主動空氣冷卻只有一個缺點：產生熱量的組件永遠無法冷卻到室溫以下。這是因為主動冷卻使用來自房間的強制空氣，並且房間空氣無法將組件冷卻到比環境溫度低的溫度。這些組件非常可靠，並且該系統的成本相當低廉。</p>
<h4>Passive Air Cooling <span>被動風冷</span></h4>
<div class="sectionContain">Similar to the active air cooling method, passive air cooling uses a heat sink to create a larger cooling surface of a component. The difference lies in the size of the heat sink, though, since passive air cooling relies solely on the size of the fins to reduce the heat. These fins must be large enough and must also have enough space between them so that a natural flow of air can be achieved that will adequately remove the heat. These heat sinks can become quite heavy and require special parts to be fixed over the part to be cooled. Passive air cooling is the most efficient way of cooling in terms of power saving, since it uses no power to operate. The drawback to this method is weight, since heavy and large heat sinks must be fixed over small parts, increasing the total weight of a computer and reducing the usable area inside the case. Additionally, this method doesn’t work well when the ambient temperature is high, because high ambient temperature causes the passive air cooling to become ineffective.</div>
<div class="sectionContain"></div>
<div class="sectionContain">類似於主動空氣冷卻方法，被動空氣冷卻使用散熱器來創建較大的組件冷卻表面。不過，區別在於散熱器的大小，因為被動空氣冷卻僅依賴散熱片的大小來減少熱量。這些散熱片必須足夠大，並且它們之間還必須有足夠的空間，以便可以實現自然散熱，從而充分散熱。這些散熱器會變得很重，需要將特殊零件固定在要冷卻的零件上。就省電而言，被動式空氣冷卻是最有效的冷卻方式，因為它不使用任何電源進行操作。這種方法的缺點是重量大，因為必須將重型散熱器和大型散熱器固定在小零件上，從而增加了計算機的總重量並減小了機箱內部的可用面積。此外，這種方法在環境溫度較高時效果不佳，因為環境溫度較高會導致被動空氣冷卻失效。</div>
</div>
</div>
<h3>Cooling Installation and Maintenance</h3>
<p>散熱安裝與維護</p>
<h4>CPU Cooling</h4>
<p><span>In the lab below, you should install a new CPU.</span><span> For the purpose of this lab, we have removed the computer's case for you. </span><span>You will also need to apply thermal paste, install the heat sink and install the cooling fan.</span><span> For the purposes of this lab exercise, you can assume that ESD precautions are in place.</span></p>
<div class="sectionContain"><span></span></div>
<p><span></span>在下面的實驗室中，您應該安裝一個新的CPU。為了本實驗的目的，我們為您卸下了計算機機箱。您還需要塗導熱膏，安裝散熱器和安裝冷卻風扇。在本實驗中，您可以假定已經採取了ESD預防措施。<br/><span></span><br/><span><a href="https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2e670a0001dc20fb8c9fa4b5678c">https://oli.cmu.edu/jcourse/workbook/activity/page?context=d87f2e670a0001dc20fb8c9fa4b5678c</a></span></p>
<div class="activitywrap purpose lab flash" id="dinstall_new_cpu">
<div class="activityhead"><span class="scnReader"></span></div>
</div>
<h3>Case Fans Installation</h3>
<p>機箱風扇安裝</p>
<p id="N10698" lang="">The following steps will enable you to install a case fan. First, you must ensure that your PC is powered off before you install any component in your system. After opening the case, you will need a Phillips head screwdriver in order to remove/install case fans. If you’re replacing a fan, simply remove the old one by unscrewing it from the case and unplugging the cable from the header (or the MOLEX connection, if you have an older system). To mount the new fan, hold the fan up to the mounting position so that the holes for screws line up with the holes in the case. While holding the fan in place with one hand, with your other hand use four screws to secure it in place. Some models use plastic friction clips to hold the fan in place instead of screws. If the system is like this, simply un-snap the clips, remove the fan, and pop the new one in its place.</p>
<p id="N1069B" lang="">After you secure the fan, you need to attach the fan to an unused fan header to provide the fan with power. The headers are keyed to ensure a proper connection and prevent you from plugging them in backwards. Four-pin headers will work with three-pin fans, but you will not be able to control fan speeds, since this is only performed by the fourth pin in the connector.</p>
<p id="N1069E" lang="">When you are done installing the fan, make sure you route your fan and other cables using proper cable management techniques and some zip-ties. Proper cable management prevents the fans from hitting the cables when they spin and also aids in proper airflow to increase cooling efficiency. Be sure to power up the computer and make sure the fan is working properly.</p>
<p lang=""></p>
<p>以下步驟將使您能夠安裝機箱風扇。首先，在安裝系統中的任何組件之前，必須確保已關閉PC的電源。打開機箱後，您將需要使用十字螺絲刀來拆卸/安裝機箱風扇。如果要更換風扇，只需將舊風扇從機箱中擰出並從插頭（或MOLEX連接，如果您使用較舊的系統）上拔下電纜，即可將其卸下。要安裝新風扇，請將風扇保持在安裝位置，以使螺釘孔與外殼上的孔對齊。一隻手將風扇固定到位，另一隻手用四顆螺釘將其固定到位。某些型號使用塑料摩擦夾而不是螺釘將風扇固定到位。如果系統是這樣的，只需取消卡扣，卸下風扇，然後將新風扇彈出就位。</p>
<p>固定風扇後，需要將風扇連接到未使用的風扇接頭連接器上，以為風扇供電。標頭的鍵可確保正確連接，並防止您向後插入標頭。四針接頭連接器將與三針風扇一起使用，但是您將無法控制風扇速度，因為這只能由連接器中的第四針執行。</p>
<p>完成安裝風扇後，請確保使用適當的電纜管理技術和一些紮帶來布放風扇和其他電纜。正確的電纜管理可防止風扇在旋轉時撞到電纜，並有助於適當的氣流以提高冷卻效率。確保打開計算機電源，並確保風扇正常工作。</p>
<div class="imagewrap"><span class="image"><img alt="Photograph of an open computer case. Within the case is the motherboard, a heat sink, and multiple cables. It also contains a case fan, which is mounted on the interior back panel of the case." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH08/webcontent/PCH08/image5.png" title="Photograph of an open computer case. Within the case is the motherboard, a heat sink, and multiple cables. It also contains a case fan, which is mounted on the interior back panel of the case."/></span>
<p id="N106A6" lang="">Red case fan. Photo used under CC-BY license from <a href="https://flic.kr/p/AEv4V" id="_i_1" lang="" target="_blank">Airplane Lane</a>.</p>
</div>
<h2>PCH18</h2>
<p></p>
<h3>Laptop and Notebook Component Replacement</h3>
<p></p>
<p> <span>筆記本電腦和筆記本電腦組件更換</span></p>
<h4><br/>Overview</h4>
<p><br/>In this module, we will discuss the types of hard drives used in laptop computers, as well as how to replace or upgrade them. We will also discuss the types of memory used in laptop and notebook computers, and the difference between upgrading laptop or notebook memory and upgrading memory in a standard desktop computer. Lastly, we will discuss the types of hard drive failure you may experience with a notebook computer and the best way to identify the failure and repair it properly.</p>
<p>在本模塊中，我們將討論膝上型計算機中使用的硬盤驅動器的類型，以及如何更換或升級它們。我們還將討論筆記本電腦和筆記本電腦中使用的內存類型，以及升級筆記本電腦或筆記本電腦的內存與升級標準台式計算機中的內存之間的區別。最後，我們將討論筆記本計算機可能遇到的硬盤故障類型，以及識別故障並正確修復的最佳方法。</p>
<h4>Notebook Hard Drives</h4>
<p><br/>Laptop storage has evolved over the years from using traditional HDDs, which are very large and require a lot of power, to using smaller and smaller variants.</p>
<p>Similar to the desktop, older generation laptops used IDE/PATA, but current technology uses SATA connectors, or in the case of mSATA directly plugs into a port on the motherboard.</p>
<p>Whereas traditional desktop computers use a 3.5-inch HDD, laptops typically use a 2.5-inch hard drive. These drives contain capacity speeds comparable to their larger counterparts. Smaller notebooks might use an even smaller variant that is only 1.8 inches in diameter. These drives often operate at similar speeds to their larger counterparts, but may lack the same capacity for storage. These HDDs make use of a spinning disk with magnetic storage design.</p>
<p>Current laptops, especially netbooks and other laptops that require thinner, lighter, and faster storage options, use solid-state disks (SSDs) following the 2.5, 1.8, or mSata form factor. Initially, manufacturers developed a hybrid disk combining an internal disk with a form of flash storage used to speed up access times. These were faster than traditional HDDs and much less expensive than a full SSD at the time.</p>
<p>SSDs contain no actual disk or moving parts. They are highly resistant to shock and movement, and have low latency and high access speeds. The performance of SSDs is far superior to traditional spinning hard disk drives, and they use less power than traditional hard disks, as well, which makes them ideal for mobile applications such as laptops and notebooks. HDD manufacturers have improved the design of SSDs, making them more resilient to I/O writes and reads and less susceptible to the failure first generation SSDs could suffer from if not configured correctly.</p>
<p>In addition to traditional SATA or mSATA SSDs, many laptop manufacturers have chosen to incorporate embedded multi-media cards (eMMCs) in smaller 2-in-1 laptops, Chromebooks, or tablets that are designed with a detachable keyboard. eMMCs have faster access times than traditional HDDs, but are slower than an SSD. As the name implies, this storage device is an integrated circuit (IC) chip located on the motherboard. Currently, eMMCs most often come in either 16 GB, 32 GB or 64 GB capacity. Manufacturers most often include a micro secure digital (MicroSD) card reader and USB port to allow for external storage.</p>
<p>Laptop hard drives and SSDs are generally upgradable and replaceable, but the “internal storage” label for eMMC is not.</p>
<p>With HDDs and SSDs being standard form factors (2.5-inch or 1.8-inch varieties), they can easily be removed and replaced with a larger capacity or higher speed version as long as the new drive matches in physical size and connection type (SATA or mSATA). To replace a hard drive, the technician simply removes the drive in accordance with the manufacturer’s instructions. It is always important to check with the laptop manufacturer’s instructions on the best way to remove the drive. Some models have a direct access area from the bottom of the laptop, while others require full disassembly of the machine, including the keyboard and casing.</p>
<p>多年來，筆記本電腦存儲已經從使用非常大且需要大量電源的傳統HDD到使用越來越小的變體而發展。</p>
<p>與台式機類似，較早的筆記本電腦使用的是IDE / PATA，但當前的技術使用的是SATA連接器，或者在mSATA的情況下直接插入主板上的端口。</p>
<p>傳統台式計算機使用3.5英寸HDD，而筆記本電腦通常使用2.5英寸硬盤。這些驅動器的容量速度可與大型驅動器媲美。較小的筆記本可能會使用直徑甚至只有1.8英寸的更小的變體。這些驅動器通常以與較大驅動器相似的速度運行，但可能缺少相同的存儲容量。這些硬盤使用具有磁存儲設計的旋轉磁盤。<br/>當前的筆記本電腦，尤其是上網本和其他需要更薄，更輕和更快存儲選項的筆記本電腦，使用的固態硬盤（SSD）遵循2.5、1.8或mSata尺寸規格。最初，製造商開發了一種混合磁盤，該磁盤將內部磁盤與用於加速訪問時間的閃存形式結合在一起。它們比傳統的HDD更快，並且當時的價格比完整的SSD便宜得多。</p>
<p>SSD不包含實際的磁盤或活動部件。它們具有很高的抗衝擊和移動性，並具有低延遲和高訪問速度。 SSD的性能遠遠優於傳統的旋轉硬盤驅動器，並且比傳統的硬盤消耗更少的功率，這使其成為筆記本電腦和筆記本電腦等移動應用程序的理想選擇。 HDD製造商已經改進了SSD的設計，使其對I / O寫入和讀取的彈性更大，並且如果配置不正確，第一代SSD可能會遭受的故障影響較小。</p>
<p>除了傳統的SATA或mSATA SSD之外，許多筆記本電腦製造商還選擇將嵌入式多媒體卡（eMMC）集成到較小的2合1筆記本電腦，Chromebook或配有可拆卸鍵盤的平板電腦中。 eMMC的訪問時間比傳統HDD快，但比SSD慢。顧名思義，此存儲設備是位於主板上的集成電路（IC）芯片。當前，eMMC最多具有16 GB，32 GB或64 GB的容量。製造商最經常使用的是微型安全數字（MicroSD）讀卡器和USB端口，用於外部存儲。<br/>筆記本電腦硬盤和固態硬盤通常可以升級和更換，但是eMMC的“內部存儲”標籤卻不是。</p>
<p>HDD和SSD是標準尺寸（2.5英寸或1.8英寸），只要新驅動器的物理尺寸和連接類型（SATA或SATA）相匹配，就可以輕鬆地將它們卸下並替換為更大容量或更高速的版本。 mSATA）。要更換硬盤驅動器，技術人員只需按照製造商的說明卸下驅動器。請務必與筆記本電腦製造商的說明一起查看拆卸驅動器的最佳方法。某些型號從筆記本電腦的底部可以直接進入，而其他型號則需要完全拆卸機器，包括鍵盤和機殼。<br/>筆記本電腦硬盤和固態硬盤通常可以升級和更換，但是eMMC的“內部存儲”標籤卻不是。</p>
<p></p>
<div class="section" id="notebook_hard_drives">
<div class="sectionContain">
<div class="imagewrap"><span class="image"><img alt="Photograph of two laptop hard drives. Both are rectangular, but the drive on the right is slightly larger and has a black plastic extension toward the top. There are labels with writing and bar codes on each drive." class="popimg" id="_i_0" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image1.jpeg" title="Photograph of two laptop hard drives. Both are rectangular, but the drive on the right is slightly larger and has a black plastic extension toward the top. There are labels with writing and bar codes on each drive."/></span>
<p id="N106C4" lang="">Laptop hard drives. Photo used under CC-BY license from <a href="https://www.flickr.com/photos/raybdbomb/" id="_i_1" lang="" target="_blank">Ray Dehler</a>.</p>
</div>
<div class="imagewrap"><span class="image"><img alt="Photograph of an SSD. It is a thin silver rectangle with Intel’s logo on the top. On one end, there is a black plastic slot." class="popimg" id="_i_2" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image2.jpeg" title="Photograph of an SSD. It is a thin silver rectangle with Intel’s logo on the top. On one end, there is a black plastic slot."/></span>
<p id="N106D3" lang="">SSD. Photo used under CC-BY license from <a href="https://www.flickr.com/photos/intelfreepress/" id="_i_3" lang="" target="_blank">Intel</a>.</p>
<h4>Memory 記憶體</h4>
</div>
</div>
</div>
<div class="section" id="memory">
<div class="sectionContain">
<p id="N106E6" lang="">Laptops use memory modules similar to their larger desktop counterparts. In desktops, DDR, DDR2, and DDR3 RAM modules are used to upgrade our systems, based upon the memory slots provided by the motherboard, and the speed and size accepted by the motherboard. Laptops, similarly, require the proper size and speed modules for their motherboards. Therefore, it is important to check the manufacturer’s manual for a laptop. Laptop memory also comes in DDR, DDR2, and DDR3 varieties, but laptops use the SODIMM (small outline dual in-line memory module) form factor. These are much smaller, more compact versions of the standard DDR, DDR2, and DDR3 modules, but they operate at the same speed and capacity as the larger versions.</p>
<p lang="">筆記本電腦使用的內存模塊與大型台式機相似。在台式機中，DDR，DDR2和DDR3 RAM模塊用於根據主板提供的內存插槽以及主板可接受的速度和大小來升級我們的系統。類似地，筆記本電腦需要適合其主板的尺寸和速度模塊。因此，請務必查看筆記本電腦的製造商手冊。筆記本電腦內存還提供DDR，DDR2和DDR3品種，但筆記本電腦使用SODIMM（小尺寸雙列直插式內存模塊）外形。這些是標準DDR，DDR2和DDR3模塊的更小，更緊湊的版本，但是它們以與較大版本相同的速度和容量運行。</p>
<div class="imagewrap"><span class="image"><img alt="Photograph of the bottom of a laptop with an opening in which a rectangular, green SODIMM card is located." class="popimg" id="_i_4" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image3.png" title="Photograph of the bottom of a laptop with an opening in which a rectangular, green SODIMM card is located."/></span>
<p id="N106EF" lang="">SODIMM in a laptop. Photo used under CC-BY-NC license from <a href="https://flic.kr/p/4e1Uq5" id="_i_5" lang="" target="_blank">Ben Williams</a>.</p>
</div>
<p id="N106F8" lang="">Replacing and upgrading memory is a fairly simply process, similar to replacing memory in a desktop machine. First, remove the power by shutting down the laptop, removing the power cord, and (if possible) removing the battery from the laptop. Next, replace the existing memory module, or add a second one, if applicable. Some laptops, like the one shown above, have a small plastic door covering the memory slots for easy access. Others may require full disassembly to access the memory slots. In a desktop computer, the modules are inserted at a straight-up-and-down vertical angle (90 degrees), but with laptops, the modules are inserted at a 45-degree angle first. Then the modules are pushed down into place once they are fully inserted into the memory slot. This is required due to the space limitations in the laptop.</p>
<p id="N106FB" lang="">Some laptops have a single memory slot, while others have two slots. Some laptops may have their memory soldered onto the motherboard, making upgrading or removing the memory impossible. Always check your laptop’s manual for details on how many modules your laptop will accept (if any), how many gigabytes they can be, and the speed of the modules. For example, in the bottom image below, we see a 2 GB DDR2 memory module that operates at 6400 MBps, or 800 MHz.</p>
<p>更換和升級內存是一個相當簡單的過程，類似於在台式機中更換內存。首先，請關閉筆記本電腦，拔下電源線，然後（如果可能）從筆記本電腦中取出電池，以斷開電源。接下來，更換現有的內存模塊，或添加第二個內存模塊（如果適用）。某些筆記本電腦，如上圖所示，有一個小的塑料門蓋住內存插槽，以便於使用。其他可能需要完全拆卸才能訪問內存插槽。在台式計算機中，模塊以垂直向上和向下的垂直角度（90度）插入，但在筆記本電腦中，模塊首先以45度角插入。將模塊完全插入內存插槽後，將其向下推到位。由於筆記本電腦的空間限制，這是必需的。</p>
<p>一些筆記本電腦只有一個內存插槽，而其他筆記本電腦有兩個插槽。有些筆記本電腦的內存可能焊接在主板上，因此無法升級或刪除內存。請始終查看筆記本電腦的手冊，以獲取有關筆記本電腦可以容納多少個模塊（如果有），可以容納多少GB以及模塊速度的詳細信息。例如，在下面的底部圖像中，我們看到一個2 GB DDR2內存模塊，其工作頻率為6400 MBps或800 MHz。</p>
<div class="imagewrap"><span class="image"><img alt="Photograph of a 2 GB DDR2 memory module. It is a rectangular green card with a label on it. The label has the card specifications and bar codes on it. There are gold pins extending from one side of the card." class="popimg" id="_i_6" onclick="loadImageFromPage(this);" src="https://oli.cmu.edu/repository/webcontent/d826575d0a0001dc3e9f244fa018c560/PCH18/webcontent/PCH18/image4.png" title="Photograph of a 2 GB DDR2 memory module. It is a rectangular green card with a label on it. The label has the card specifications and bar codes on it. There are gold pins extending from one side of the card."/></span>
<p id="N10704" lang="">2 GB DDR2 memory module. Photo used under CC-BY-SA license from <a href="https://flic.kr/p/7N7iXh" id="_i_7" lang="" target="_blank">Cheon Fong Liew</a>.</p>
<h3>Troubleshooting Hard Drives</h3>
<div class="tw-ta-container hide-focus-ring tw-lfl" id="tw-target-text-container" tabindex="0">
<pre class="tw-data-text tw-text-large XcVN5d tw-ta" data-placeholder="翻譯" dir="ltr" id="tw-target-text"><span lang="zh-TW">硬碟驅動器故障排除</span></pre>
</div>
<div class="tw-ta-container hide-focus-ring tw-nfl" id="tw-target-rmn-container"></div>
<p><em>Hard drive failures are fairly uncommon occurrences for computers overall, but in laptops they have a higher occurrence rate than in desktops. Usually, this occurs when something jars the laptop while the hard disk is working. Another cause of hard drive failure is an overheated hard drive. The hard drive, like other devices in the computer, requires adequate cooling to ensure proper operation. If the hard drive overheats, you need to check to see if the laptop is receiving adequate cooling. You can do this by making sure the air intake and fans are working properly and are not filled with dust.</em></p>
<p><em>Mechanical failures and defects are another possible cause of hard drive failure in laptops and notebooks. Bad sectors in the hard disk, the motor’s failure to perform rotation, power supply issues, and many other issues can cause hard drive failures. An old hard disk may create problems, or mechanical failure can occur if you have formatted the hard disk too many times. Normally, you can hear a mechanical failure — there may be a clicking sound coming from the disk, or you will hear the disk fail to “spin up” when powered on.</em></p>
<p><em>Other issues with hard drives include data becoming corrupted or invalid due to virus infection or attacks, abnormal system shutdown, accidental cancellation of a running program, frequent power failure, and many other causes. These are not issues solely in laptops; these problems can occur with both laptop and desktop models.</em></p>
<p><em>To determine if a laptop hard drive has failed, you must follow a logical troubleshooting methodology. First, attempt to boot up the computer. If you cannot see the display working, then listen for the hard disk. Did you hear it “spin up” when you powered on the machine? If not, it is likely a laptop power issue and not a hard drive issue. Check the battery and the AC adapter to ensure the laptop is receiving power.</em></p>
<p><em>If the laptop display did turn on, then you need to see if the operating system boots. If it does not boot, it could be a data corruption issue or a hard drive failure. First, try booting the laptop from the AC adapter instead of the battery. Did that work? If so, it may be that the battery isn’t providing enough power to spin the hard drive properly. If that does not work, next, check the BIOS to see if the hard drive is being recognized. If the drive is not recognized in the BIOS, check the physical connections (power and data cables, like IDE/PATA and SATA). If the hard drive is recognized in the BIOS, but the operating system does not boot, it could be that the data on the drive has become corrupted; therefore, the operating system may need to be reinstalled and the user data may need to be restored from backup.</em></p>
<p><em>If the drive isn’t recognized by the BIOS or loading the operating system, you may have a hard drive failure. Listen to the hard drive; do you hear a mechanical clicking sound? If you do, your hard drive is likely failing and should be replaced as soon as possible. If you do not hear any clicking noises, there might be bad sectors on the disk, so perform disk maintenance procedures, such as “check disk” (CHKDSK) or “disk defragmentation” (DISK DEFRAG).</em></p>
<p>硬盤故障在整個計算機上很少發生，但在筆記本電腦中，其發生率要高於台式機。通常，當硬盤工作時筆記本電腦受到震動時，會發生這種情況。硬盤驅動器故障的另一個原因是硬盤驅動器過熱。與計算機中的其他設備一樣，硬盤驅動器也需要充分冷卻以確保正常運行。如果硬盤驅動器過熱，則需要檢查筆記本電腦是否受到足夠的冷卻。您可以通過確保進氣口和風扇正常工作並且沒有灰塵的方式來執行此操作。</p>
<p>機械故障和缺陷是筆記本電腦和筆記本電腦中硬盤驅動器故障的另一個可能原因。硬盤中的壞扇區，電動機無法旋轉，電源問題以及許多其他問題都可能導致硬盤驅動器故障。舊的硬盤可能會造成問題，或者如果您對硬盤進行了過多的格式化，則可能會導致機械故障。通常，您會聽到機械故障的聲音-磁盤可能會發出喀嗒聲，或者您會在通電後聽到磁槃無法“旋轉”的聲音。</p>
<p>硬盤驅動器的其他問題包括由於病毒感染或攻擊，異常的系統關閉，意外取消正在運行的程序，頻繁的電源故障以及許多其他原因而導致數據損壞或無效。這些不僅僅是筆記本電腦的問題；筆記本電腦和台式機型號都可能出現這些問題。</p>
<p>要確定筆記本電腦硬盤驅動器是否發生故障，您必須遵循邏輯上的故障排除方法。首先，嘗試啟動計算機。如果看不到顯示屏，請收聽硬盤。打開機器電源時，您是否聽到過它“旋轉”的聲音？如果不是，則很可能是筆記本電腦電源問題，而不是硬盤驅動器問題。檢查電池和交流適配器，以確保膝上型計算機已接通電源。</p>
<p>如果筆記本電腦的顯示屏確實打開了，那麼您需要查看操作系統是否啟動。如果無法啟動，則可能是數據損壞問題或硬盤故障。首先，嘗試從交流適配器而不是電池引導筆記本電腦。那行嗎？如果是這樣，則可能是電池電量不足，無法正確旋轉硬盤驅動器。如果那不起作用，則接下來，檢查BIOS以查看硬盤驅動器是否被識別。如果在BIOS中無法識別驅動器，請檢查物理連接（電源和數據電纜，例如IDE / PATA和SATA）。如果在BIOS中識別到硬盤驅動器，但操作系統無法引導，則可能是驅動器上的數據已損壞；否則，可能是驅動器上的數據已損壞。因此，可能需要重新安裝操作系統，並且可能需要從備份中還原用戶數據。</p>
<p>如果BIOS無法識別驅動器或無法加載操作系統，則可能是硬盤驅動器出現故障。聽硬盤驅動器；您聽到機械的喀噠聲嗎？如果這樣做，您的硬盤驅動器可能會發生故障，應盡快更換。如果您沒有聽到任何咔嗒聲，則可能是磁盤上的扇區損壞，請執行磁盤維護過程，例如“檢查磁盤”（CHKDSK）或“磁盤碎片整理”（DISK DEFRAG）。</p>
<p></p>
<h1>重點</h1>
<p>formats 1~3 不可有冒號</p>
<h4></h4>
<div actguid="d87f2ffa0a0001dc615ffff1dfc1034e" class="asx" inlineparams="inlineClient=%2Fsuperactivity%2Fassessment2%2FInlineAssessmentClient.swf&amp;activityMode=delivery&amp;activityContextGUID=d87f2ffa0a0001dc615ffff1dfc1034e&amp;userGUID=27b2bcf10a0001dc496a1917bfc80551&amp;activityService=%2Fjcourse%2Fa2%2Frest&amp;webContentPath=%2Frepository%2Fwebcontent%2Fd826575d0a0001dc3e9f244fa018c560%2F&amp;logService=%2Flog%2Fserver&amp;">
<div class="activitywrap purpose learnbydoing flash" id="dpch18_lbd01"></div>
</div><h1>星爆</h1>
<p></p>
<p>test1.0</p>
<p>test1.1</p>
<p><br/><br/><br/><img alt="" height="1080" src="/images/yS5oV9n.png" width="1920"/></p></div></div></div>